<div class="col-md-6">
  <%= link_to event_path(event) do %>
    <div class="card card-event" style="background-image: url(<%= event.hero_image_url %>)">
      <div class="card-date">
        <big><%= event.local_starts_at.strftime('%_m') %></big>
        <p><%= event.local_starts_at.strftime('%b') %></p>
      </div> 
      <div class="card-block">
        <h4 class="card-title"><%= event.name %></h4>
      </div>
    </div>
  <% end %>
</div>  
